  body {
    background-color: gray;
  }

  h3 {
    color: white;
    background-color: orange;
  }

  #titulo2 {
    color: black;
  }

  H2 {
    color: lawngreen;
  }

  .clases-1 {
    color: yellow;
  }

  .img-logo {
    width: 200px;
  }

  .header-nav {
    display: inline-block;
    background-color: greenyellow;
    width: 100%;
  }

  .menu-nav {
    display: inline-block;
  }

  .menu-nav li {
    display: inline-block;
  }

  .menu-nav li a {
    text-decoration: none;
    color: black;
  }

  .primer-recuadro {
    margin: 15px;
    padding: 15px;
    border: 1px solid white;
  }

  .segundo-recuadro {
    margin: 15px;
    padding: 15px;
    border: double 5px orange;
  }

  .tercer-recuadro {
    margin: 15px;
    padding: 15px;
    border: dotted greenyellow;
  }