  body {
    background-color: rgb(250, 244, 244);
  }

  h3 {
    color: white;
    background-color: orange;
  }

  #titulo2 {
    color: black;
  }

  H2 {
    color: lawngreen;
  }

  .clases-1 {
    color: rgb(7, 7, 7);
  }

  .img-logo {
    width: 200px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(171, 217, 87, 1) 0%, rgba(109, 189, 53, 1) 16%, rgba(104, 253, 45, 1) 100%);
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  .menu-nav {
    display: inline-block;
  }

  .menu-nav li {
    display: inline-block;
  }

  .menu-nav li a {
    display: flex;
    color: black;
    margin: 5px;
  }

  /*.header-nav a:hover {
    color: black;
  }*/

  .primer-recuadro {
    margin: 15px;
    padding: 15px;
    border: 1px solid white;
  }

  .segundo-recuadro {
    margin: 15px;
    padding: 15px;
    border: double 5px orange;
  }

  .tercer-recuadro {
    margin: 15px;
    padding: 15px;
    border: dotted greenyellow;
  }

  .elemento {
    width: 150px;
    height: 150px;
  }

  #uno {
    background-color: red;
    order: -1;
  }

  #dos {
    background-color: blue;
  }

  #tres {
    background-color: pink;
    order: -2;
  }

  #cuatro {
    background-color: brown;
  }

  /*
  .contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100vh;
  }

  .contenedor {
    display: flex;
    justify-content: space;
  }
*/

  .info-columnas {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border: 5px double rgb(233, 129, 129);
    padding: 10px;
    box-shadow: 14px 10px 14px 1px rgba(0, 0, 0, 0.62);
  }

  .info-columnas img {
    width: 100%;

  }

  .contenedor-noticias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
  }

  .footer {
    padding: 50px;
    text-align: center;
    background: linear-gradient(90deg, rgba(180, 58, 115, 1) 0%, rgba(253, 29, 29, 1) 42%, rgba(252, 176, 69, 1) 61%);
    margin-top: 30px;
  }

  .menu-nav li a:hover {
    color: white;
  }